*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

.nav-menu-element{
    border: 2px solid black;
    background-color: blue  ;
    padding: 5px;
    color: white;
}

.main-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generate-btn{
    border: 2px solid black;
    background-color: red  ;
    padding: 5px;
    color: white;
}